@model ConsultantDepositModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-info text-white">
                    <h3>Deposit or Withdraw Money: @Model.AccountNumber <i class="fas fa-exchange-alt"></i></h3>
                    <h6>Email: @Model.UserEmail</h6>
                </div>
                <div class="card-body">
                    <form asp-action="DepositWithdraw" asp-controller="Consultant" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <input asp-for="UserEmail" class="form-control" hidden />
                        <input asp-for="AccountNumber" class="form-control" hidden />

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="action" id="withdraw" value="withdraw" checked>
                                            <label class="form-check-label" for="withdraw">
                                                Withdraw
                                            </label>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="action" id="deposit" value="deposit">
                                            <label class="form-check-label" for="deposit">
                                                Deposit
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label asp-for="Amount" class="control-label">Amount <i class="fas fa-money-bill-alt"></i></label></td>
                                    <td><input asp-for="Amount" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-success btn-block">Transfer <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>
