@{
    ViewBag.Title = "Home Page";
}

<!-- Page Background Color -->
<style>
    body {
        background-color: #fff; /* Light, soft background color */
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <img src="~/Images/back.jpg" alt="Bank Image" class="img-fluid">
        </div>
        <div class="col-md-7">
            <h3>Welcome to Our Online Banking</h3>
            <p>Discover seamless banking services, secure transactions, and personalized financial management. Get started today!</p>
            <ul> <li><strong>Secure Account Management:</strong> <ul> <li>Create and manage your accounts securely.</li> <li>View balances, transaction history, and statements.</li> </ul> </li> <li><strong>Fund Transfers:</strong> <ul> <li>Transfer money between your own accounts.</li> <li>Send funds to other bank accounts (within the same bank or external).</li> </ul> </li> <li><strong>Bill Payments:</strong> <ul> <li>Pay utility bills, credit card bills, and other recurring payments.</li> <li>Set up automatic bill payments.</li> </ul> </li> <li><strong>Mobile Check Deposit:</strong> <ul> <li>Snap photos of checks and deposit them using the app.</li> <li>Convenient for remote check deposits.</li> </ul> </li> </ul>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("User"))
                {
                    <a class="btn btn-info btn-lg mt-5" asp-action="Index" asp-controller="Client">Get Started</a>
                }
                else if (User.IsInRole("Consultant"))
                {
                    <a class="btn btn-info btn-lg mt-5" asp-action="Index" asp-controller="Consultant">Consultant Control Panel</a>
                }
                else if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-info btn-lg mt-5" asp-action="Index" asp-controller="Admin">Admin Control Panel</a>
                }
                else
                {
                    <a class="btn btn-info btn-lg mt-5" asp-action="Index" asp-controller="FinAdvisor">Financial Advisor Control Panel</a>
                }
            }else
            {
                <a class="btn btn-info btn-lg mt-5" asp-action="Login" asp-controller="Account">Create Your Own Account</a>
            }
        </div>
    </div>
</div>


