@{
    ViewData["Title"] = "Contact Us";
}
<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h4>App Name:</h4>
            <p>Online Banking System</p>

            <h4>App Creator:</h4>
            <p>Johan Doe (Final Year Student)</p>
        </div>

        <div class="col-md-6">
            <h4>Email:</h4>
            <p>contact@onlinebanking.com</p>

            <h4>Phone Number:</h4>
            <p>+27 123 456 7890</p>
        </div>
    </div>
</div>

