@model IEnumerable<Notification>

<div class="container">
    <h3>All Financial Advisor Advise(s)</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Advice</th>
                <th scope="col">Date</th>
                <th scope="col">Is Read</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rev in Model)
            {
                <tr>
                    <th scope="row">@rev.UserEmail</th>
                    <td>@rev.Message</td>
                    <td>@rev.NotificationDate.ToShortDateString()</td>
                    <td><strong>@rev.IsRead</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mb-3">
        <a asp-action="Index" asp-controller="Admin" class="btn btn-info">Go back</a>
    </div>
</div>
