@{
    ViewBag.Title = "Online Banking - User View";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="user-profile">
                <img src="~/extras/whatsapp image 2024-05-05 at 14.24.54.jpeg" alt="User Profile Picture" class="rounded-circle" />

                <h4 class="profile-name">John Doe</h4>
                <p class="profile-info">ID Number: 123456789</p>
                <p class="profile-info">Date of Birth: January 1, 1990</p>
                <p class="profile-info">Email: johndoe@example.com</p>
                <button class="btn btn-primary btn-update">Update Profile</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <!-- Notifications -->
                    <div class="functionality-buttons">
                        <a href="#" class="btn btn-primary btn-lg d-flex align-items-center text-dark custom-hover-1 mb-2">
                            <i class="fas fa-money-bill-alt mr-2"></i>
                            Pay University Stores
                        </a>
                        <a href="#" class="btn btn-warning btn-lg d-flex align-items-center text-dark custom-hover-2 mb-2">
                            <i class="fas fa-credit-card mr-2"></i>
                            Transfer Money
                        </a>
                     
                      
                        <a href="#" class="btn btn-success btn-lg d-flex align-items-center text-dark custom-hover-5 mb-2">
                            <i class="fas fa-file-alt mr-2"></i>
                            View Bank Balance
                        </a>
                        <a href="#" class="btn btn-secondary btn-lg d-flex align-items-center text-dark custom-hover-6 mb-2">
                            <i class="fas fa-history mr-2"></i>
                            View Previous Transactions & Print Bank Statements
                        </a>
                   
                        <a href="#" class="btn btn-success btn-lg d-flex align-items-center text-dark custom-hover">
                            <i class="fas fa-money-bill-alt mr-2"></i>
                            Varsity Cash Sent (Cardless)
                        </a>
                    </div>
                    <br />
                    <br />
                    <!-- Notifications -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Any additional scripts can go here -->
