@model MoneyTransferViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-info text-white">
                    <h3>Transfer Money <i class="fas fa-exchange-alt"></i></h3>
                </div>
                <div class="card-body p-4">
                    <form asp-action="TransferMoneyView" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="SenderBankAccountNumber" class="control-label">Sender Account <i class="fas fa-user-circle"></i></label>
                            <input asp-for="SenderBankAccountNumber" class="form-control" readonly />
                            <span asp-validation-for="SenderBankAccountNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ReceiverBankAccountNumber" class="control-label">Receiver Account <i class="fas fa-user-circle"></i></label>
                            <input asp-for="ReceiverBankAccountNumber" class="form-control" />
                            <span asp-validation-for="ReceiverBankAccountNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Amount" class="control-label">Amount <i class="fas fa-money-bill-alt"></i></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label class="control-label">Available Balance <i class="fas fa-wallet"></i></label>
                            <input value="@Model.AvailableBalance" class="form-control" readonly />
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-secondary btn-block">Transfer <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Go Back</a>
            </div>
        </div>
    </div>
</div>
